.cart__background {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  height: auto;
  background: #F8F8F8;
}

.cart__title {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  font-size: 4vmin;
}

.cart__item {
  position: relative;
  height: 10vmin;
  width: 100%;
  margin-bottom: 2vmin;
  border-bottom: solid 1px grey;
}

.cart__name {
  position: relative;
  top: 25%;
  left: 20%;
  font-size: 3vmin;
  height: auto;
  width: auto;
  font-family: 'Exo 2', sans-serif;
}

.cart__image {
  position: relative;
  left: 5%;
  height: 8vmin;
  width: 8vmin;
}
