@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

.item__name-- {
  position: absolute;
  bottom: -25%;
  left: -1%;
  width: 102%;
  height: 25%;
  font-family: 'Exo 2', sans-serif;
  z-index: 12;
}

.item__name--active {
  position: absolute;
  bottom: -25%;
  left: -1%;
  width: 102%;
  height: 35%;
  background: #FEFEFA;
  font-family: 'Exo 2', sans-serif;
  border: solid 2px black;
  z-index: 12;
}

.item__price-- {
  position: absolute;
  bottom: 50%;
  right: 2%;
  width: auto;
  height: auto;
  font-family: 'Exo 2', sans-serif;
}

.item__price--active {
  position: absolute;
  top: 0%;
  right: 2%;
  width: auto;
  height: auto;
  font-family: 'Exo 2', sans-serif;
}

.item__description-- {
  position: absolute;
  width: 0%;
  height: 0%;
  overflow: hidden;
}

.item__description--active {
  position: absolute;
  top: 30%;
  left: 0%;
  width: auto;
  height: auto;
  font-family: 'Exo 2', sans-serif;
}

.item__price--active {
  position: absolute;
  top: 0%;
  right: 2%;
  width: auto;
  height: auto;
  font-family: 'Exo 2', sans-serif;
}

.item-- {
  position: relative;
  left: 5%;
  margin-left: 7%;
  margin-bottom: 8%;
  height: 230px;
  width: 230px;
  background: lightgrey;
  border: solid 2px #DDDDDD;
  float: left;
  z-index: 11;
}

.item--active {
  position: relative;
  left: 5%;
  margin-left: 7%;
  margin-bottom: 8%;
  height: 230px;
  width: 230px;
  background: lightgrey;
  border: solid 2px black;
  float: left;
  z-index: 12;
}

.item:hover {
  border: solid 2px black;
}

.item__photo {
  position: absolute;
  height: 100%;
  width: 100%;
}

.shopping {
  position: absolute;
  height: auto;
  top: 25%;
  width: 70%;
  left: 5%;
}

.other__photos--active {
  position: absolute;
  right: -16%;
  height: auto;
  float: left;
  width: 15%;
}

.other__photos-- {
  width: 0%;
  height: 0%;
  overflow: hidden;
}

.small__photos {
  position: relative;
  top: 15%;
  margin-top: 10%;
  cursor: pointer;
}

.phone__menu__lines {
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.phone__menu__lines-- {
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.active__menu__lines--active {
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.active__menu__lines-- {
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.phone__menu__lines--active {
  height: 0%;
  width: 0%;
  overflow: hidden;
}

.title {
  position: fixed;
  top: -1%;
  height: 15%;
  width: 100%;
  background: #D3D3D3;
  font-family: 'Exo 2', sans-serif;
  z-index: 20;
}
