.item {
  position: absolute;
  top: 20%;
  left: 30%;
  height: 45%;
  width: 25%;
  background: lightgrey;
}

.item:hover {
  background: black;
}

.item__photo {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 90%;
  width: 90%;
}
